---
clusterDomain: {{ .ClusterDomain.ClusterDomain }}

{{- if ne .ClusterInteralDomain.Domain "cluster.local" }}
clusterInternalDomain: {{ .ClusterInteralDomain.Domain }}
{{- end }}

{{- if ne .ClusterDomain.ImageHub ""}}
imageHub: {{ .ClusterDomain.ImageHub }}
{{- end }}

{{- if ne .Labels.Stringify ""}} 
labels:{ {{ .Labels.Stringify }} }
{{- end }}

{{- if ne .Annotations.Stringify ""}} 
annotations:{ {{ .Annotations.Stringify }} }
{{- end }}

{{- if or (.Network.Https.Enabled) (.Network.Proxy.Enabled) (.Network.Ingress.External) (not .Network.Istio.Enabled) (.Network.Istio.ExternalIp)
(.Network.Istio.IngressSvcAnnotations) (.Network.Istio.IngressSvcExtraPorts) (.Network.Istio.LbSourceRanges) }}
networking:
{{- end }}
{{- if or (.Network.Https.Enabled) (.Network.Https.CertSecret) }}
  https:
    enabled: {{ .Network.Https.Enabled }}
{{- end }}
{{- if .Network.Https.CertSecret }}
    certSecret: {{ .Network.Https.CertSecret }}
{{- end }}

{{- if .Network.Proxy.Enabled }}
  proxy:
    enabled: {{ .Network.Proxy.Enabled }}
{{- end }}
{{- if .Network.Proxy.HttpProxy }}
    httpProxy:[ {{ .Network.Proxy.HttpProxy }} ]
{{- end }}
{{- if .Network.Proxy.HttpsProxy }}
    httpsProxy:[ {{ .Network.Proxy.HttpsProxy }} ]
{{- end }}
{{- if .Network.Proxy.NoProxy }}
    noProxy:[ {{ .Network.Proxy.NoProxy }} ]
{{- end }}

{{- if or (eq .Network.Ingress.Type "ingress") (not .Network.Ingress.IstioGwEnabled) (.Network.Ingress.IstioGwName)  }}
  ingress:
{{- end }}
{{- if .Network.Ingress.Type }}
    type: {{ .Network.Ingress.Type }}
{{- end }}
{{- if not .Network.Ingress.IstioGwEnabled }}
    istioGwEnabled: {{ .Network.Ingress.IstioGwEnabled }}
{{- end }}
{{- if .Network.Ingress.IstioGwName }}
    istioGwName: {{ .Network.Ingress.IstioGwName }} 
{{- end }}

{{- if or (not .Network.Istio.Enabled) (.Network.Istio.ExternalIp) (.Network.Istio.IngressSvcAnnotations) 
(.Network.Istio.IngressSvcExtraPorts) (.Network.Istio.LbSourceRanges) }}
  istio:
    enabled: {{ .Network.Istio.Enabled }}
{{- end }}
{{- if .Network.Istio.ExternalIp }}
    externalIp: [ {{ .Network.Istio.ExternalIp }} ]
{{- end }}
{{- if .Network.Istio.IngressSvcAnnotations }}
    ingressSvcAnnotations: { {{ .Network.Istio.IngressSvcAnnotations }} }
{{- end }}
{{- if .Network.Istio.IngressSvcExtraPorts }}
    ingressSvcExtraPorts: [ {{ .Network.Istio.IngressSvcExtraPorts }} ]
{{- end }}
{{- if .Network.Istio.LbSourceRanges }}
    lbSourceRanges: [ {{ .Network.Istio.LbSourceRanges }} ]
{{- end }}

{{- if or (not .Logging.FluentbitEnable) (not .Logging.ElastalertEnable) (not .Logging.KibanaEnable)
(.Logging.ElastaStorageSize) (.Logging.ElastaStorageClass) (.Logging.ElastaNodeSelector) (.Logging.KibanaSvcName) }}
logging:
{{- end }}

{{- if eq .Logging.FluentbitEnable false }}
  fluentbit:
    enabled: {{ .Logging.FluentbitEnable }}
{{- end}}

{{- if or (eq .Logging.ElastalertEnable false) (.Logging.ElastaStorageSize) (.Logging.ElastaStorageClass) (.Logging.ElastaNodeSelector) }}
  elastalert:
    enabled: {{ .Logging.ElastalertEnable }}
{{- end }}

{{- if .Logging.ElastaStorageSize }}
    storageSize: {{ .Logging.ElastaStorageSize }}
{{- end }}

{{- if (.Logging.ElastaStorageClass) }}
    storageClass: {{ .Logging.ElastaStorageClass }}
{{- end }}

{{- if (.Logging.ElastaNodeSelector) }}
    nodeSelector: { {{ .Logging.ElastaNodeSelector }} }
{{- end }}

{{- if or (eq .Logging.KibanaEnable false) (.Logging.KibanaSvcName) }}
  kibana:
    enabled: {{ .Logging.KibanaEnable }}
{{- end }}
{{- if .Logging.KibanaSvcName }}
    svcName: {{ .Logging.KibanaSvcName }}
{{- end }}

{{- if .Registry.Enabled }}
registry:
{{- end }}
{{- if .Registry.Url }}
  url: {{ .Registry.Url }}
{{- end }}
{{- if .Registry.User }}
  user: {{ .Registry.User }}
{{- end }}
{{- if .Registry.Password }}
  password: {{ .Registry.Password }}
{{- end }}

{{- if .Tenancy.Enabled }}
tenancy:
  enabled: {{ .Tenancy.Enabled }}
  key: {{ .Tenancy.Key }}
  value: {{ .Tenancy.Value }}
{{- end }}

{{- if .Sso.Enabled }}
sso:
  enabled: {{ .Sso.Enabled }}
{{- end }}
{{- if .Sso.AdminUser }}
  adminUser: {{ .Sso.AdminUser }}
{{- end }}
{{- if .Sso.Provider }}
  provider: {{ .Sso.Provider }}
{{- end }}
{{- if .Sso.EmailDomain }}
  emailDomain: [ {{ .Sso.EmailDomain }} ]
{{- end }}
{{- if .Sso.ClientId }}
  clientId: {{ .Sso.ClientId }}
{{- end }}
{{- if .Sso.ClientSecret }}
  clientSecret: {{ .Sso.ClientSecret }}
{{- end }}
{{- if .Sso.AzureTenant }}
  azureTenant: {{ .Sso.AzureTenant }}
{{- end }}
{{- if .Sso.OidcIssuerUrl }}
  oidcIssuerUrl: {{ .Sso.OidcIssuerUrl }}
{{- end }}

{{- if or (.Storage.Nfs.Enabled) (.Storage.Hostpath.Enabled) }}
storage:
{{- end }}
{{- if .Storage.Nfs.Enabled }}
  nfs:
    enabled: {{ .Storage.Nfs.Enabled }}
{{- end }}
{{- if .Storage.Nfs.Server }}
    server: {{ .Storage.Nfs.Server }}
{{- end }}
{{- if .Storage.Nfs.Path }}
    path: {{ .Storage.Nfs.Path }}
{{- end }}
{{- if .Storage.Nfs.DefaultSc }}
    defaultSc: {{ .Storage.Nfs.DefaultSc }}
{{- end }}
{{- if .Storage.Nfs.ReclaimPolicy }}
    reclaimPolicy: {{ .Storage.Nfs.ReclaimPolicy }}
{{- end }}
{{- if .Storage.Nfs.Image }}
    image: {{ .Storage.Nfs.Image }}
{{- end }}

{{- if .Storage.Hostpath.Enabled }}
  hostpath:
    enabled: {{ .Storage.Hostpath.Enabled }}
{{- end }}
{{- if .Storage.Hostpath.DefaultSc }}
    defaultSc: {{ .Storage.Hostpath.DefaultSc }}
{{- end }}
{{- if ne .Storage.Hostpath.Path "/cnvrg-hostpath-storage" }}
    path: {{ .Storage.Hostpath.Path }}
{{- end }}
{{- if .Storage.Hostpath.ReclaimPolicy }}
    reclaimPolicy: {{ .Storage.Hostpath.ReclaimPolicy }}
{{- end }}
{{- if .Storage.Hostpath.NodeSelector }}
    nodeSelector: {{ .Storage.Hostpath.NodeSelector }}
{{- end }}
    

{{- if or (not .Gpu.NvidiaEnable) (not .Gpu.HabanaEnable) }}
gpu:
{{- end  }}
{{- if not .Gpu.NvidiaEnable }}
  nvidiaDp:
    enabled: {{ .Gpu.NvidiaEnable }}
{{- end  }}
{{- if not .Gpu.HabanaEnable }}
  habanaDp:
    enabled: {{ .Gpu.HabanaEnable }}
{{- end }}

{{- if not .ConfigReloader.Enabled  }}
configReloader:
  enabled: {{ .ConfigReloader.Enabled }}
{{- end }}

{{- if or (not .Capsule.Enabled) (.Capsule.Image)  }}
capsule:
  enabled: {{ .Capsule.Enabled }}
{{- end }}
{{- if .Capsule.Image }}
  image: {{ .Capsule.Image }}
{{- end }}

{{- if or (not .Backup.Enabled) (.Backup.Rotation) (.Backup.Period) }}
backup:
  enabled: {{ .Backup.Enabled }}
{{- end }}
{{- if .Backup.Rotation }}
  rotation: {{ .Backup.Rotation }}
{{- end }}
{{- if .Backup.Period }}
  period: {{ .Backup.Period }}
{{- end }}


{{- if or (not .Monitoring.DcgmExportEnable) (not .Monitoring.HabanaExportEnable) (not .Monitoring.NodeExportEnable) 
(not .Monitoring.KubeStateMetricEnable) (not .Monitoring.GrafanaEnable) (not .Monitoring.PrometheusOperatorEnable) 
(not .Monitoring.PrometheusEnable) (not .Monitoring.DefaultSvcMonitorsEnable) (not .Monitoring.CnvrgIdleMetricsEnable) }}
monitoring:
{{- end }}

{{- if eq .Monitoring.DcgmExportEnable false }}
  dcgmExporter:
    enabled: {{ .Monitoring.DcgmExportEnable }}
{{- end }}

{{- if eq .Monitoring.HabanaExportEnable false }}
  habanaExporter:
    enabled: {{ .Monitoring.HabanaExportEnable }}
{{- end }}

{{- if not .Monitoring.NodeExportEnable }}
  nodeExporter:
    enabled: {{ .Monitoring.NodeExportEnable }}
{{- end }}

{{- if eq .Monitoring.KubeStateMetricEnable false }}
  kubeStateMetrics:
    enabled: {{ .Monitoring.KubeStateMetricEnable }}
{{- end }}

{{- if or (not .Monitoring.GrafanaEnable) (.Monitoring.GrafanaSvcName) }}
  grafana:
    enabled: {{ .Monitoring.GrafanaEnable }}
{{- end }}
{{- if .Monitoring.GrafanaSvcName }}
    svcName: {{ .Monitoring.GrafanaSvcName }}
{{- end }}

{{- if eq .Monitoring.PrometheusOperatorEnable false }}
  prometheusOperator:
    enabled: {{ .Monitoring.PrometheusOperatorEnable }}
{{- end }}

{{- if or (not .Monitoring.PrometheusEnable) (.Monitoring.PrometheusStorageSize) (.Monitoring.PrometheusStorageClass) (.Monitoring.PrometheusNodeSelector) }}
  prometheus:
    enabled: {{ .Monitoring.PrometheusEnable }}
{{- end }}
{{- if .Monitoring.PrometheusStorageSize }}
    storageSize: {{ .Monitoring.PrometheusStorageSize }}
{{- end }}
{{- if .Monitoring.PrometheusStorageClass }}
    storageClass: {{ .Monitoring.PrometheusStorageClass }}
{{- end }}
{{- if .Monitoring.PrometheusNodeSelector }}
    nodeSelector: { {{ .Monitoring.PrometheusNodeSelector }} }
{{- end }}

{{- if eq .Monitoring.DefaultSvcMonitorsEnable false }}
  defaultServiceMonitors:
    enabled: {{ .Monitoring.DefaultSvcMonitorsEnable }}
{{- end }}

{{- if eq .Monitoring.CnvrgIdleMetricsEnable false }}
  cnvrgIdleMetricsExporter:
    enabled: {{ .Monitoring.CnvrgIdleMetricsEnable }}
{{- end }}
{{- if .Monitoring.CnvrgIdleMetricsLabels }}
    labels: { {{ .Monitoring.CnvrgIdleMetricsLabels }} }
{{- end }}

{{- if or (.Dbs.CvatEnable) (not .Dbs.EsEnable) }}
dbs:
{{- end }}
{{- if .Dbs.CvatEnable }}
  cvat:
    enabled: {{ .Dbs.CvatEnable }}
{{- end }}

{{- if or (eq .Dbs.EsEnable false) (.Dbs.EsStorageSize) (.Dbs.EsPatchNodes) (.Dbs.EsNodeSelector) }}
  es:
    enabled: {{ .Dbs.EsEnable }}
{{- end }}
{{- if .Dbs.EsStorageSize }}
    storageSize: {{ .Dbs.EsStorageSize }}
{{- end }}
{{- if .Dbs.EsStorageClass }}
    storageClass: {{ .Dbs.EsStorageClass }}
{{- end }}
{{- if .Dbs.EsPatchNodes }}
    patchEsNodes: {{ .Dbs.EsPatchNodes }}
{{- end }}
{{- if .Dbs.EsNodeSelector }}
    nodeSelector: { {{ .Dbs.EsNodeSelector }} }
{{- end }}
{{- if or (.Dbs.CleanUpAll) (.Dbs.CleanUpApp) (.Dbs.CleanUpJobs) (.Dbs.CleanUpEndpoints) }}
    cleanupPolicy:
      all: {{ .Dbs.CleanUpAll }}
      app: {{ .Dbs.CleanUpApp }}
      jobs: {{ .Dbs.CleanUpJobs }}
      endpoints: {{ .Dbs.CleanUpEndpoints }} 
{{- end }}

{{- if or (not .Dbs.MinioEnable) (.Dbs.MinioStorageSize) (.Dbs.MinioStorageClass) (.Dbs.MinioNodeSelector) }} 
  minio:
    enabled: {{ .Dbs.MinioEnable }}
{{- end }}
{{- if .Dbs.MinioStorageSize }}
    storageSize: {{ .Dbs.MinioStorageSize }}
{{- end }}
{{- if .Dbs.MinioStorageClass }}
    storageClass: {{ .Dbs.MinioStorageClass }}
{{- end }}
{{- if .Dbs.MinioNodeSelector }}
    nodeSelector: { {{ .Dbs.MinioNodeSelector }} }
{{- end }}

{{- if or (not .Dbs.PgEnable) (.Dbs.PgStorageSize) (.Dbs.PgStorageClass) (.Dbs.PgNodeSelector) }}    
  pg:
    enabled: {{ .Dbs.PgEnable }}
{{- end }}
{{- if .Dbs.PgStorageSize }}
    storageSize: {{ .Dbs.PgStorageSize }}
{{- end }}
{{- if .Dbs.PgStorageClass }}
    storageClass: {{ .Dbs.PgStorageClass }}
{{- end }}
{{- if .Dbs.PgNodeSelector }}
    nodeSelector: { {{ .Dbs.PgNodeSelector }} }
{{- end }}
{{- if or (.Dbs.PgPagesEnable) (.Dbs.PgPagesSize) (.Dbs.PgPagesMemory) }}
    hugePages:
{{- end }}
{{- if .Dbs.PgPagesEnable }}
      enabled: {{ .Dbs.PgPagesEnable }}
{{- end }}
{{- if .Dbs.PgPagesSize }}
      size: {{ .Dbs.PgPagesSize }}
{{- end }}
{{- if .Dbs.PgPagesMemory }}
      memory: {{ .Dbs.PgPagesMemory }}
{{- end }}

{{- if or (not .Dbs.RedisEnable) (.Dbs.RedisStorageSize) (.Dbs.RedisStorageClass) (.Dbs.RedisNodeSelector) }}
  redis:
    enabled: {{ .Dbs.RedisEnable }}
{{- end }}
{{- if .Dbs.RedisStorageSize }}
    storageSize: {{ .Dbs.RedisStorageSize }}
{{- end }}
{{- if .Dbs.RedisStorageSize }}
    storageClass: {{ .Dbs.RedisStorageClass }}
{{- end }}
{{- if .Dbs.RedisStorageSize }}
    nodeSelector: {{ .Dbs.RedisNodeSelector }}
{{- end }}


{{- if or (.ControlPlane.Image) (not .ControlPlane.HyperEnable) (not .ControlPlane.CnvrgScheduleEnable) (.ControlPlane.CnvrgClusterProvisionerEnable)
(.ControlPlane.ObjectStorageType) (not .ControlPlane.SearchkiqEnable) (not .ControlPlane.SidekiqEnable) (.ControlPlane.CnvrgRouterEnable) (not .ControlPlane.WebappEnable)
(.ControlPlane.SmtpServer) (not .ControlPlane.SystemkiqEnable) }}
controlPlane:
{{- end }}
{{- if .ControlPlane.Image }}
  image: {{ .ControlPlane.Image }}
{{- end }}
{{- if or (.ControlPlane.BaseConfigAgentTag) (.ControlPlane.BaseConfigIntercom) (.ControlPlane.BaseConfigFeatureFlags) (.ControlPlane.BaseConfigCnvrgPrivileged) }}
  baseConfig:
    agentCustomTag: {{ .ControlPlane.BaseConfigAgentTag }}
    intercom: {{ .ControlPlane.BaseConfigIntercom }}
    featureFlags: { {{ .ControlPlane.BaseConfigFeatureFlags }} }
    cnvrgPrivilegedJob: {{ .ControlPlane.BaseConfigCnvrgPrivileged }}
{{- end }}

{{- if eq .ControlPlane.HyperEnable false }}
  hyper:
    enabled: {{ .ControlPlane.HyperEnable }}
{{- end }}

{{- if eq .ControlPlane.CnvrgScheduleEnable false }}
  cnvrgScheduler:
    enabled: {{ .ControlPlane.CnvrgScheduleEnable }}
{{- end }}

{{- if .ControlPlane.CnvrgClusterProvisionerEnable }}
  cnvrgClusterProvisionerOperator:
    enabled: {{ .ControlPlane.CnvrgClusterProvisionerEnable }}
{{- end }}

{{- if .ControlPlane.ObjectStorageType }}
  objectStorage:
    type: {{ .ControlPlane.ObjectStorageType }}
    bucket: {{ .ControlPlane.ObjectStorageBucket }}
    region: {{ .ControlPlane.ObjectStorageRegion }}
    accessKey: {{ .ControlPlane.ObjectStorageAccessKey }}
    secretKey: {{ .ControlPlane.ObjectStorageSecretKey }}
    endpoint: {{ .ControlPlane.ObjectStorageEndpoint }}
    azureAccountName: {{ .ControlPlane.ObjectStorageAzureAcountName }}
    azureContainer: {{ .ControlPlane.ObjectStorageAzureContainer }}
    gcpSecretRef: {{ .ControlPlane.ObjectStorageGcpSecretRef }}
    gcpProject: {{ .ControlPlane.ObjectStorageGcpProject }}
{{- end }}

{{- if eq .ControlPlane.SearchkiqEnable false }}
  searchkiq:
    enabled: {{ .ControlPlane.SearchkiqEnable }}
{{- end }}

{{- if or (not .ControlPlane.SearchkiqHpaEnable) (.ControlPlane.SearchkiqHpaMaxReplicas) }}
    hpa:
      enabled: {{ .ControlPlane.SearchkiqHpaEnable }}
{{- end }}
{{- if .ControlPlane.SearchkiqHpaMaxReplicas }}
      maxReplicas: {{ .ControlPlane.SearchkiqHpaMaxReplicas }}
{{- end }}

{{- if or (not .ControlPlane.SidekiqEnable) (.ControlPlane.SidekiqSplit) }}
  sidekiq:
    enabled: {{ .ControlPlane.SidekiqEnable }}
{{- end }}
{{- if .ControlPlane.SidekiqSplit }}
    split: {{ .ControlPlane.SidekiqSplit }}
{{- end }}

{{- if or (not .ControlPlane.SidekiqHpaEnable) (.ControlPlane.SidekiqHpaMaxReplicas) }}
    hpa:
      enabled: {{ .ControlPlane.SidekiqHpaEnable }}
{{- end }}
{{- if .ControlPlane.SidekiqHpaMaxReplicas }}
      maxReplicas: {{ .ControlPlane.SidekiqHpaMaxReplicas }}
{{- end }}

{{- if or (.ControlPlane.CnvrgRouterEnable) (.ControlPlane.CnvrgRouterImage) }}
  cnvrgRouter:
    enabled: {{ .ControlPlane.CnvrgRouterEnable }}
{{- end }}
{{- if .ControlPlane.CnvrgRouterImage }}
    image: {{ .ControlPlane.CnvrgRouterImage }}
{{- end }}

{{- if or (.ControlPlane.SmtpServer) (.ControlPlane.SmtpPort) (.ControlPlane.SmtpUsername) (.ControlPlane.SmtpPassword) (.ControlPlane.SmtpDomain)
 (.ControlPlane.SmtpOpenSslMode) (.ControlPlane.SmtpSender) }}
  smtp:
{{- end }}
{{- if .ControlPlane.SmtpServer }}
    server: {{ .ControlPlane.SmtpServer }}
{{- end }}
{{- if .ControlPlane.SmtpPort }}
    port: {{ .ControlPlane.SmtpPort }}
{{- end }}
{{- if .ControlPlane.SmtpUsername }}    
    username: {{ .ControlPlane.SmtpUsername }}
{{- end }}
{{- if .ControlPlane.SmtpPassword }}
    password: {{ .ControlPlane.SmtpPassword }}
{{- end }}
{{- if .ControlPlane.SmtpDomain }}
    domain: {{ .ControlPlane.SmtpDomain }}
{{- end }}
{{- if .ControlPlane.SmtpOpenSslMode }}
    opensslVerifyMode: {{ .ControlPlane.SmtpOpenSslMode }}
{{- end }}
{{- if .ControlPlane.SmtpSender }}
    sender: {{ .ControlPlane.SmtpSender }}
{{- end }}

{{- if not .ControlPlane.SystemkiqEnable }}
  systemkiq:
    enabled: {{ .ControlPlane.SystemkiqEnable }}
{{- end }}

{{- if or (not .ControlPlane.SystemkiqHpaEnable) (.ControlPlane.SystemkiqHpaMaxReplicas) }}
    hpa:
      enabled: {{ .ControlPlane.SystemkiqHpaEnable }}
{{- end }}
{{- if .ControlPlane.SystemkiqHpaMaxReplicas }}
      maxReplicas: {{ .ControlPlane.SystemkiqHpaMaxReplicas }}
{{- end }}

{{- if or (not .ControlPlane.WebappEnable) (.ControlPlane.WebappSvcName) (.ControlPlane.WebappReplicas) }}
  webapp:
    enabled: {{ .ControlPlane.WebappEnable }}
{{- end }}
{{- if .ControlPlane.WebappSvcName }}
    svcName: {{ .ControlPlane.WebappSvcName }}
{{- end }}
{{- if .ControlPlane.WebappReplicas }}
    replicas: {{ .ControlPlane.WebappReplicas }}
{{- end }}
{{- if or (not .ControlPlane.WebappHpaEnable) (.ControlPlane.WebappHpaMaxReplicas) }}
    hpa:
      enabled: {{ .ControlPlane.WebappHpaEnable }}
{{- end }}
{{- if .ControlPlane.WebappHpaMaxReplicas }}
      maxReplicas: {{ .ControlPlane.WebappHpaMaxReplicas }}
{{- end }}

{{- if or (not .ControlPlane.MpiEnable) (.ControlPlane.MpiImage) (.ControlPlane.MpiKubectlImage) (.ControlPlane.MpiExtraArgs)
(.ControlPlane.MpiRegistryUrl) (.ControlPlane.MpiRegistryUser) (.ControlPlane.MpiRegistryPassword) }}     
  mpi: 
    enabled: {{ .ControlPlane.MpiEnable }}
{{- end }}
{{- if .ControlPlane.MpiImage }}
    image: {{ .ControlPlane.MpiImage }}
{{- end }}
{{- if .ControlPlane.MpiKubectlImage }}
    kubectlDeliveryImage: {{ .ControlPlane.MpiKubectlImage }}
{{- end }}
{{- if .ControlPlane.MpiExtraArgs }}
    extraArgs: { {{ .ControlPlane.MpiExtraArgs }} }
{{- end }}
{{- if or (.ControlPlane.MpiRegistryUrl) (.ControlPlane.MpiRegistryUser) (.ControlPlane.MpiRegistryPassword) }}
    registry:
{{- end }}
{{- if .ControlPlane.MpiRegistryUrl }}
      url: {{ .ControlPlane.MpiRegistryUrl }}
{{- end }}
{{- if .ControlPlane.MpiRegistryUser }}
      user: {{ .ControlPlane.MpiRegistryUser }}
{{- end }}
{{- if .ControlPlane.MpiRegistryPassword }}
      password: {{ .ControlPlane.MpiRegistryPassword }}
{{- end }}
