clusterDomain: {{ .ClusterDomain.ClusterDomain }}
clusterInternalDomain: {{ .ClusterDomain.ClusterInternalDomain }}
spec: {{ .ClusterDomain.Spec }} 
imageHub: {{ .ClusterDomain.ImageHub }}


{{- if .Network.Https.Enabled }}
networking:
  https:
    enabled: {{ .Network.Https.Enabled }}
    certSecret: {{ .Network.Https.CertSecret }}
{{- end }}

{{- if .Network.Proxy.Enabled }}
  proxy:
    enabled: {{ .Network.Proxy.Enabled }}
    httpProxy: {{ .Network.Proxy.HttpProxy }}
    httpsProxy: {{ .Network.Proxy.HttpsProxy }}
    noProxy: {{ .Network.Proxy.NoProxy }}
{{- end }}

{{- if .Network.Ingress.External }}
  ingress:
    type: {{ .Network.Ingress.Type }}
    istioGwEnabled: {{ .Network.Ingress.IstioGwEnabled }}
    istioGwName: {{ .Network.Ingress.IstioGwName }}
{{- end }}

{{- if eq .Network.Istio.Enabled false }}
  istio:
    enabled: {{.Network.Istio.Enabled }}
    externalIp: {{.Network.Istio.ExternalIp }}
    ingressSvcAnnotations: {{.Network.Istio.IngressSvcAnnotations }}
    ingressSvcExtraPorts: {{.Network.Istio.IngressSvcExtraPorts }}
    lbSourceRanges: {{.Network.Istio.LbSourceRanges }}
{{- end }}

{{- if .Sso.Enabled }}
sso:
  enabled: {{ .Sso.Enabled }}
  adminUser: {{ .Sso.AdminUser }}
  provider: {{ .Sso.Provider }}
  emailDomain: {{ .Sso.EmailDomain }}
  clientId: {{ .Sso.ClientId }}
  clientSecret: {{ .Sso.ClientSecret }}
  azureTenant: {{ .Sso.AzureTenant }}
  oidcIssuerUrl: {{ .Sso.OidcIssuerUrl }}
{{- end }}

{{- if .Storage.Hostpath.Enabled }}
  hostpath:
    enabled: {{ .Storage.Hostpath.Enabled }}
    defaultSc: {{ .Storage.Hostpath.DefaultSc }}
    path: {{ .Storage.Hostpath.Path }}
    reclaimPolicy: {{ .Storage.Hostpath.ReclaimPolicy }}
    nodeSelector: {{ .Storage.Hostpath.NodeSelector }}
{{- end }}

{{- if .Storage.Nfs.Enabled }}
  nfs:
    enabled: {{ .Storage.Nfs.Enabled }}
    server: {{ .Storage.Nfs.Server }}
    path: {{ .Storage.Nfs.Path }}
    defaultSc: {{ .Storage.Nfs.DefaultSc }}
    reclaimPolicy: {{ .Storage.Nfs.ReclaimPolicy }}
{{- end }}

{{- if .Tenancy.Enabled }}
tenancy:
  enabled: {{ .Tenancy.Enabled }}
  key: {{ .Tenancy.Key }}
  value: {{ .Tenancy.Value }}
{{- end }}

{{- if .Registry.Enabled }}
registry:
  url: {{ .Registry.Url }}
  user: {{ .Registry.User }}
  password: {{ .Registry.Password }}
{{- end }}

{{- if .ConfigReloader.Enabled }}
configReloader:
  enabled: {{ .ConfigReloader.Enabled }}
{{- end }}

{{- if eq .Capsule.Enabled false }}
capsule:
  enabled: {{ .Capsule.Enabled }}
  image: {{ .Capsule.Image }}
{{- end }}

{{- if eq .Backup.Enabled false }}
backup:
  enabled: {{ .Backup.Enabled }}
  rotation: {{ .Backup.Rotation }}
  period: {{ .Backup.Period }}
{{- end }}