---
clusterDomain: {{ .ClusterDomain.ClusterDomain }}

{{- if ne .ClusterDomain.ClusterInternalDomain "cluster.local" }}
clusterInternalDomain: {{ .ClusterDomain.ClusterInternalDomain }}
{{- end }}

{{- if ne .ClusterDomain.Spec ""}} 
spec: {{ .ClusterDomain.Spec }} 
{{- end }}

{{- if ne .ClusterDomain.ImageHub ""}}
imageHub: {{ .ClusterDomain.ImageHub }}
{{- end }}

{{- if ne .Labels.Stringify ""}} 
labels:{ {{ .Labels.Stringify }} }
{{- end }}

{{- if ne .Annotations.Stringify ""}} 
annotations:{ {{ .Annotations.Stringify }} }
{{- end }}

{{- if .Network.Https.Enabled }}
networking:
  https:
    enabled: {{ .Network.Https.Enabled }}
    certSecret: {{ .Network.Https.CertSecret }}
{{- end }}

{{- if .Network.Proxy.Enabled }}
  proxy:
    enabled: {{ .Network.Proxy.Enabled }}
    httpProxy:[ {{ .Network.Proxy.HttpProxy }} ]
    httpsProxy:[ {{ .Network.Proxy.HttpsProxy }} ]
    noProxy:[ {{ .Network.Proxy.NoProxy }} ]
{{- end }}

{{- if .Network.Ingress.External }}
  ingress:
    type: {{ .Network.Ingress.Type }}
    istioGwEnabled: {{ .Network.Ingress.IstioGwEnabled }} 
    istioGwName: {{ .Network.Ingress.IstioGwName }} 
{{- end }}

{{- if eq .Network.Istio.Enabled false }}
  istio:
    enabled: {{ .Network.Istio.Enabled }}
    externalIp: [ {{ .Network.Istio.ExternalIp }} ]
    ingressSvcAnnotations: { {{ .Network.Istio.IngressSvcAnnotations }} }
    ingressSvcExtraPorts: [ {{ .Network.Istio.IngressSvcExtraPorts }} ]
    lbSourceRanges: [ {{ .Network.Istio.LbSourceRanges }} ]
{{- end }}

logging:
{{- if eq .Logging.FluentbitEnable false }}
  fluentbit:
    enabled: {{ .Logging.FluentbitEnable }}
{{- end}}

{{- if eq .Logging.ElastalertEnable false }}
  elastalert:
    enabled: {{ .Logging.ElastalertEnable }}
    storageSize: {{ .Logging.ElastaStorageSize }}
    storageClass: {{ .Logging.ElastaStorageClass }}
    nodeSelector: { {{ .Logging.ElastaNodeSelector }} }
{{- end }}

{{- if eq .Logging.KibanaEnable false }}
  kibana:
    enabled: {{ .Logging.KibanaEnable }}
    svcName: {{ .Logging.KibanaSvcName }}
{{- end }}

{{- if .Registry.Enabled }}
registry:
  url: {{ .Registry.Url }}
  user: {{ .Registry.User }}
  password: {{ .Registry.Password }}
{{- end }}

{{- if .Tenancy.Enabled }}
tenancy:
  enabled: {{ .Tenancy.Enabled }}
  key: {{ .Tenancy.Key }}
  value: {{ .Tenancy.Value }}
{{- end }}

{{- if .Sso.Enabled }}
sso:
  enabled: {{ .Sso.Enabled }}
  adminUser: {{ .Sso.AdminUser }}
  provider: {{ .Sso.Provider }}
  emailDomain: {{ .Sso.EmailDomain }}
  clientId: {{ .Sso.ClientId }}
  clientSecret: {{ .Sso.ClientSecret }}
  azureTenant: {{ .Sso.AzureTenant }}
  oidcIssuerUrl: {{ .Sso.OidcIssuerUrl }}
{{- end }}
    
{{- if eq .Gpu.NvidiaDp.Enabled false }}
gpu:
  nvidiaDp:
    enabled: {{ .Gpu.NvidiaEnable }}
{{- end  }}
{{- if eq .Gpu.HabanaDp.Enabled false }}
  habanaDp:
    enabled: {{ .Gpu.HabanaEnable }}
{{- end }}

monitoring:
{{- if eq .Monitoring.DcgmExportEnable false }}
  dcgmExporter:
    enabled: {{ .Monitoring.DcgmExportEnable }}
{{- end }}

{{- if eq .Monitoring.HabanaExportEnable false }}
  habanaExporter:
    enabled: {{ .Monitoring.HabanaExportEnable }}
{{- end }}

{{- if eq .Monitoring.NodeExportEnable false }}
  nodeExporter:
    enabled: {{ .Monitoring.NodeExportEnable }}
{{- end }}

{{- if eq .Monitoring.KubeStateMetricEnable false }}
  kubeStateMetrics:
    enabled: {{ .Monitoring.KubeStateMetricEnable }}
{{- end }}

{{- if eq .Monitoring.GrafanaEnable false }}
  grafana:
    enabled: {{ .Monitoring.GrafanaEnable }}
    svcName: {{ .Monitoring.GrafanaSvcName }}
{{- end }}

{{- if eq .Monitoring.PrometheusOperatorEnable false }}
  prometheusOperator:
    enabled: {{ .Monitoring.PrometheusOperatorEnable }}
{{- end }}


{{- if eq .Monitoring.PrometheusEnable false }}
  prometheus:
    enabled: {{ .Monitoring.PrometheusEnable }}
    storageSize: {{ .Monitoring.PrometheusStorageSize }}
    storageClass: {{ .Monitoring.PrometheusStorageClass }}
    nodeSelector: { {{ .Monitoring.PrometheusNodeSelector }} }
{{- end }}

{{- if eq .Monitoring.DefaultSvcMonitorsEnable false }}
  defaultServiceMonitors:
    enabled: {{ .Monitoring.DefaultSvcMonitorsEnable }}
  {{- end }}

{{- if eq .Monitoring.CnvrgIdleMetricsEnable false }}
  cnvrgIdleMetricsExporter:
    enabled: {{ .Monitoring.CnvrgIdleMetricsEnable }}
    labels: { {{ .Monitoring.CnvrgIdleMetricsLabels }} }
  {{- end }}


dbs:
{{- if .Dbs.CvatEnable }}
  cvat:
    enabled: {{ .Dbs.CvatEnable }}
{{- end }}

{{- if eq .Dbs.EsEnable false }}
  es:
    enabled: {{ .Dbs.EsEnable }}
{{- end }}
    storageSize: {{ .Dbs.EsStorageSize }}
    storageClass: {{ .Dbs.EsStorageClass }}
    patchEsNodes: {{ .Dbs.EsPatchNodes }}
    nodeSelector: { {{ .Dbs.EsNodeSelector }} }
    cleanupPolicy:
      all: {{ .Dbs.CleanUpAll }}
      app: {{ .Dbs.CleanUpApp }}
      jobs: {{ .Dbs.CleanUpJobs }}
      endpoints: {{ .Dbs.CleanUpEndpoints }} 

{{- if eq .Dbs.MinioEnable false }} 
  minio:
    enabled: {{ .Dbs.MinioEnable }}
{{- end }}
    storageSize: {{ .Dbs.MinioStorageSize }}
    storageClass: {{ .Dbs.MinioStorageClass }}
    nodeSelector: { {{ .Dbs.MinioNodeSelector }} }

 {{- if eq .Dbs.MinioEnable false }}    
  pg:
    enabled: {{ .Dbs.PgEnable }}
{{- end }}
    storageSize: {{ .Dbs.PgStorageSize }}
    storageClass: {{ .Dbs.PgStorageClass }}
    nodeSelector: { {{ .Dbs.PgNodeSelector }} }
    hugePages:
      enabled: {{ .Dbs.PgPagesEnable }}
      size: {{ .Dbs.PgPagesSize }}
      memory: {{ .Dbs.PgPagesMemory }}

{{- if eq .Dbs.RedisEnable false }}
  redis:
    enabled: {{ .Dbs.RedisEnable }}
{{- end }}
    storageSize: {{ .Dbs.RedisStorageSize }}
    storageClass: {{ .Dbs.RedisStorageClass }}
    nodeSelector: {{ .Dbs.RedisNodeSelector }}


controlPlane:
  image: {{ .ControlPlane.Image }}
  baseConfig:
    agentCustomTag: {{ .ControlPlane.BaseConfigAgentTag }}
    intercom: {{ .ControlPlane.BaseConfigIntercom }}
    featureFlags: { {{ .ControlPlane.BaseConfigFeatureFlags }} }
    cnvrgPrivilegedJob: {{ .ControlPlane.BaseConfigCnvrgPrivileged }}

{{- if eq .ControlPlane.HyperEnable false }}
  hyper:
    enabled: {{ .ControlPlane.HyperEnable }}
{{- end }}

{{- if eq .ControlPlane.CnvrgScheduleEnable false }}
  cnvrgScheduler:
    enabled: {{ .ControlPlane.CnvrgScheduleEnable }}
{{- end }}

{{ if .ControlPlane.CnvrgClusterProvisionerEnable }}
  cnvrgClusterProvisionerOperator:
    enabled: {{ .ControlPlane.CnvrgClusterProvisionerEnable }}
{{- end }}

  objectStorage:
    type: {{ .ControlPlane.ObjectStorageType }}
    bucket: {{ .ControlPlane.ObjectStorageBucket }}
    region: {{ .ControlPlane.ObjectStorageRegion }}
    accessKey: {{ .ControlPlane.ObjectStorageAccessKey }}
    secretKey: {{ .ControlPlane.ObjectStorageSecretKey }}
    endpoint: {{ .ControlPlane.ObjectStorageEndpoint }}
    azureAccountName: {{ .ControlPlane.ObjectStorageAzureAcountName }}
    azureContainer: {{ .ControlPlane.ObjectStorageAzureContainer }}
    gcpSecretRef: {{ .ControlPlane.ObjectStorageGcpSecretRef }}
    gcpProject: {{ .ControlPlane.ObjectStorageGcpProject }}

{{- if eq .ControlPlane.SearchkiqEnable false }}
  searchkiq:
    enabled: {{ .ControlPlane.SearchkiqEnable }}
{{- end }}

{{- if eq .ControlPlane.SearchkiqHpaEnable false }}
    hpa:
      enabled: {{ .ControlPlane.SearchkiqHpaEnable }}
{{- end }}
      maxReplicas: {{ .ControlPlane.SearchkiqHpaMaxReplicas }}

{{- if eq .ControlPlane.SidekiqEnable false }}
  sidekiq:
    enabled: {{ .ControlPlane.SidekiqEnable }}
{{- end }}
    split: {{ .ControlPlane.SidekiqSplit }}

{{ if eq .ControlPlane.SidekiqHpaEnable false }}
    hpa:
      enabled: {{ .ControlPlane.SidekiqHpaEnable }}
{{- end }}
      maxReplicas: {{ .ControlPlane.SidekiqHpaMaxReplicas }}

{{ if .ControlPlane.CnvrgRouterEnable }}
  cnvrgRouter:
    enabled: {{ .ControlPlane.CnvrgRouterEnable }}
{{- end }}
    image: {{ .ControlPlane.CnvrgRouterImage }}

  smtp:
    server: {{ .ControlPlane.SmtpServer }}
    port: {{ .ControlPlane.SmtpPort }}
    username: {{ .ControlPlane.SmtpUsername }}
    password: {{ .ControlPlane.SmtpPassword }}
    domain: {{ .ControlPlane.SmtpDomain }}
    opensslVerifyMode: {{ .ControlPlane.SmtpOpenSslMode }}
    sender: {{ .ControlPlane.SmtpSender }}

{{ if eq .ControlPlane.SystemkiqEnable false }}
  systemkiq:
    enabled: {{ .ControlPlane.SystemkiqEnable }}
{{- end }}
{{ if eq .ControlPlane.SystemkiqHpaEnable false }}
    hpa:
      enabled: {{ .ControlPlane.SystemkiqHpaEnable }}
{{- end }}
      maxReplicas: {{ .ControlPlane.SystemkiqHpaMaxReplicas }}

{{ if eq .ControlPlane.WebappEnable false }}
  webapp:
    enabled: {{ .ControlPlane.WebappEnable }}
{{- end }}
    svcName: {{ .ControlPlane.WebappSvcName }}
    replicas: {{ .ControlPlane.WebappReplicas }}

{{ if eq .ControlPlane.WebappHpaEnable false }}
    hpa:
      enabled: {{ .ControlPlane.WebappHpaEnable }}
{{- end }}
      maxReplicas: {{ .ControlPlane.WebappHpaMaxReplicas }}

{{ if eq .ControlPlane.MpiEnable false }}     
  mpi:
    enabled: {{ .ControlPlane.MpiEnable }}
{{- end }}
    image: {{ .ControlPlane.MpiImage }}
    kubectlDeliveryImage: {{ .ControlPlane.MpiKubectlImage }}
    extraArgs: { {{ .ControlPlane.MpiExtraArgs }} }
    registry:
      url: {{ .ControlPlane.MpiRegistryUrl }}
      user: {{ .ControlPlane.MpiRegistryUser }}
      password: {{ .ControlPlane.MpiRegistryPassword }}

{{- if .Network.Ingress.External }}
  ingress:
    type: {{ .Network.Ingress.Type }}
    istioGwEnabled: {{ .Network.Ingress.IstioGwEnabled }}
    istioGwName: {{ .Network.Ingress.IstioGwName }}
{{- end }}

{{- if eq .Network.Istio.Enabled false }}
  istio:
    enabled: {{.Network.Istio.Enabled }}
    externalIp: {{.Network.Istio.ExternalIp }}
    ingressSvcAnnotations: {{.Network.Istio.IngressSvcAnnotations }}
    ingressSvcExtraPorts: {{.Network.Istio.IngressSvcExtraPorts }}
    lbSourceRanges: {{.Network.Istio.LbSourceRanges }}
{{- end }}


{{- if .Storage.Hostpath.Enabled }}
  hostpath:
    enabled: {{ .Storage.Hostpath.Enabled }}
    defaultSc: {{ .Storage.Hostpath.DefaultSc }}
    path: {{ .Storage.Hostpath.Path }}
    reclaimPolicy: {{ .Storage.Hostpath.ReclaimPolicy }}
    nodeSelector: {{ .Storage.Hostpath.NodeSelector }}
{{- end }}

{{- if .Storage.Nfs.Enabled }}
  nfs:
    enabled: {{ .Storage.Nfs.Enabled }}
    server: {{ .Storage.Nfs.Server }}
    path: {{ .Storage.Nfs.Path }}
    defaultSc: {{ .Storage.Nfs.DefaultSc }}
    reclaimPolicy: {{ .Storage.Nfs.ReclaimPolicy }}
{{- end }}




{{- if .ConfigReloader.Enabled }}
configReloader:
  enabled: {{ .ConfigReloader.Enabled }}
{{- end }}

{{- if eq .Capsule.Enabled false }}
capsule:
  enabled: {{ .Capsule.Enabled }}
  image: {{ .Capsule.Image }}
{{- end }}

{{- if eq .Backup.Enabled false }}
backup:
  enabled: {{ .Backup.Enabled }}
  rotation: {{ .Backup.Rotation }}
  period: {{ .Backup.Period }}
{{- end }}